.containerSld{
  
  height: 200px;
 width: 100%;
 margin: 0px;
 padding: 0px;
  display: flex;
  justify-content: center;
}

.logoBuscador{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-item{
display: flex;
padding: 1rem;
}

.card{
  box-shadow: 1px 1px 5px gray;
  margin: 5px;
}
.containerPoke{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}