.containerSld{
 width: 100%;
 margin: 0px;
 padding: 0px;
  display: flex;
  justify-content: center;
}

.logoBuscador{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 15px;
}

.containergeneral{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  
}
.bg-curso{
  background-color: blue;
}
.tablas{
  width: 70%;
  display: flex;
  align-self: center;
  
  
}
.bg{
display: flex;
justify-content: space-between;
}